.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

nav, form, h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.sidenav {
    font-family: 'Playfair Display', serif;
}

#hero-image {
    height: 800px;
    width: 100%;
    background: url("../images/cornish-home.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
}

