{% extends "base.html" %}
{% block content %}

<h2>Add Your Own Seasonal Recipe</h2>
<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_recipe') }}">
    {{ form.csrf_token }}

<!-------Recipe Name------->
<div class="row">
    <div class="input-field col s12">
        <i class="fas fa-utensils prefix light-green-text text-lighten-3"></i>
        {{ form.recipe_Name.label(class="active", id="icon_prefix", for="icon_prefix") }}
        {{ form.recipe_Name }}
    </div>
</div>

<!-------Select Season------->
<div class="row">
    <div class="input-field col s12">
        <i class="fas fa-cloud-sun-rain prefix light-green-text text-lighten-3"></i>
        
        {{ form.season.label(class="active", id="icon_prefix", for="icon_prefix") }}
        {{ form.season }}
    </div>
</div>

<!-------Ingredients------->
<div class="row">
    <div class="input-field col s12">
        <i class="fas fa-scale-balanced prefix light-green-text text-lighten-3"></i>
        {{ form.ingredients.label(class="active", id="icon_prefix2") }}
        {{ form.ingredients(class_="materialize-textarea", id="icon_prefix2") }}
    </div>
</div>


<!-------Method------->
<div class="row">
    <div class="input-field col s12">
        <i class="fas fa-fire-burner prefix light-green-text text-lighten-3"></i>
        {{ form.method.label(class="active", id="icon_prefix2") }}
        {{ form.method(class_="materialize-textarea", id="icon_prefix2") }}
    </div>
</div>






     {{ form.recaptcha }}
    
<button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>


</form>



{% endblock %}