{% extends "base.html" %}
{% block content %}

<div class="slider">
    <ul class="slides">
        <li>
        <div id="hero-image-1" alt="cornish-home"></div>
    </li>
      <li>
        <div id="hero-image-3" alt="fish"></div>
      </li>
      <li>
        <div id="hero-image-4" alt="grandma"></div>

      </li>
    <li>
        <div id="hero-image-5" alt="mushrooms"></div>
    </li>
    <li>
        <div id="hero-image-6" alt="vegetables"></div>
    </li>
    <li>
        <div id="hero-image-1" alt="cornish-home"></div>
    </li>
    </ul>

    <h2>ABOUT</h2>
    <body>
    <div>
            <p>
                Nestled along the rugged coastline of Cornwall, Bohemian Mama is a food blog born out of the culinary magic spun by a
                Cornish grandma with an unbridled passion for local and foraged produce. Drawing inspiration from the rich tapestry of
                Cornwall's landscapes, this blog is a testament to the love and respect for seasonal ingredients, many of which are
                lovingly grown in her own garden.
            </p>
                
                <h3>Our Culinary Philosophy:</h3>
                <p>
                
                At Bohemian Mama, we believe that every meal should tell a story. Whether it's the earthy sweetness of a freshly plucked
                apple or the robust flavor of foraged mushrooms, each ingredient has its own narrative to share. Our recipes are a
                celebration of these stories, weaving together the tapestry of Cornish flavors into delectable, wholesome dishes.
                </p>
                
                <h3>From Garden to Table:</h3>
                
                <p>One of the cornerstones of Bohemian Mama's kitchen is the bountiful garden that serves as the heart of our culinary
                creations. Here, every herb, vegetable, and fruit is cultivated with care and intention, ensuring that each bite carries
                the essence of Cornish terroir. Join us on a journey from seed to plate, where the love for gardening meets the joy of
                cooking.</p>
                
                <h3>Foraged Finds and Local Treasures:</h3>
                
                <p>Bohemian Mama takes pride in sourcing ingredients from the local community and the untamed beauty of Cornwall. From wild
                berries gathered on coastal walks to mushrooms discovered in hidden woodland nooks, our recipes showcase the unique
                flavors that emerge when nature and culinary artistry collide.</p>
                
                <h3>Your Culinary Companion:</h3>
                
                <p>Become a part of the Bohemian Mama community by registering on our site. Once you've joined, not only can you explore
                and comment on Bohemian Mama's delightful recipes, but you can also share your own seasonal masterpieces. We believe in
                the joy of cooking and the power of collective culinary creativity, and we invite you to be a part of this vibrant
                kitchen.</p>
                
                <h3>Share, Connect, and Create:</h3>
                
                <p>Registering on Bohemian Mama opens the door to a world of culinary connections. Leave comments on your favorite recipes,
                share your cooking tips, and join the conversation with fellow food enthusiasts. Additionally, unleash your inner chef
                by contributing your own seasonal recipes and let your culinary creations shine in the Bohemian Mama community.
                
                Embark on a culinary adventure with Bohemian Mama, where every recipe tells a story, and every meal is a celebration of
                Cornish flavors. Join us at the kitchen table – your seat is reserved, and the journey promises to be as delicious as it
                is heartwarming.</p>
            </p>
        </div>
</body>

  </div>

    

{% endblock %}
