{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

    <!------- Hero Image ------->
    
        <img class="responisive-img" id="hero-image-1">





    <!------- About ------->
    <h2 class="center-align">ABOUT</h2>

    <div class="container">
        <p>
            Nestled in the picturesque landscapes of Cornwall, Bohemian Mama isn't just your typical food blog—it's a
            heartfelt
            journey inspired by the beauty of nature, the richness of community, and the joy of cooking with ingredients
            sourced
            sustainably and locally.

        </p>
        <p>
            As a young grandmother with a penchant for culinary adventures, I embarked on this digital odyssey to share
            more than
            just recipes. Bohemian Mama is a celebration of mindful living, where every dish tells a story of
            conscientious choices
            and the vibrant tapestry of flavors that our land generously provides.
        </p>
        <p>
            Here, you'll find a treasure trove of seasonal recipes crafted with love and rooted in the ethos of ethical
            consumption.
            From hearty winter stews infused with the warmth of local spices to refreshing summer salads bursting with
            the freshness
            of just-picked greens, each dish embodies the essence of the seasons and the bounty of Cornwall's fields,
            orchards, and
            waters.
        </p>
        <p>
            But Bohemian Mama is more than just a collection of recipes—it's a thriving community of kindred spirits who
            believe in
            the power of food to nourish not only our bodies but also our souls. I invite you to join our table, where
            foodies,
            farmers, and foragers come together to share their culinary wisdom, swap recipe ideas, and champion the
            virtues of local
            farming, ethical foods, and sustainable living.
        </p>
        <p>
            Whether you're a seasoned chef or a kitchen novice, Bohemian Mama welcomes you with open arms and a steaming
            pot of
            inspiration. Together, we can cultivate a movement that honors the land, supports local growers, and fosters
            a deeper
            connection to the food on our plates.
        </p>
        <p>
            So, pour yourself a cup of tea, pull up a chair, and let's embark on this delicious journey together.
            Because at
            Bohemian Mama, every meal is a celebration of life, love, and the simple pleasures that feed both body and
            soul.
        </p>
    </div>



{% endblock %}