{% extends "base.html" %}
{% block content %}

<body>

<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <a class="btn waves-effect white grey-text darken-text-2">button</a>
    </div>
    <div class="carousel-item" id="hero-image-1" href="#one!">

    </div>
    <div class="carousel-item" id="hero-image-2" href="#two!">
        
    </div>
    <div class="carousel-item" id="hero-image-3" href="#three!">
        
    </div>
    <div class="carousel-item" id="hero-image-4" href="#four!">
        
    </div>
    <div class="carousel-item" id="hero-image-5" href="#two!">
        
    </div>
    <div class="carousel-item" id="hero-image-6" href="#two!">
        
    </div>
    <div class="carousel-item" id="hero-image-7" href="#two!">
        
    </div>
    <div class="carousel-item" id="hero-image-8" href="#two!">
        
    </div>
    <div class="carousel-item" id="hero-image-9" href="#two!">
    
    </div>
    <div class="carousel-item" id="hero-image-10" href="#two!">
    
    </div>
    
</div>



    <h2 class="center-align">ABOUT</h2>
    
    <div>
            <p>
                Nestled along the rugged coastline of Cornwall, Bohemian Mama is a food blog born out of the culinary magic spun by a
                Cornish grandma with an unbridled passion for local and foraged produce. Drawing inspiration from the rich tapestry of
                Cornwall's landscapes, this blog is a testament to the love and respect for seasonal ingredients, many of which are
                lovingly grown in her own garden.
            </p>
                
                
        </div>
</body>

  </div>

    

{% endblock %}
