{% extends "base.html" %} {% block content %}

<h1>Seasonal Recipes</h1>

{% for recipe in recipes %}

<div class="row">
  <div class="col l4 m6 s12">
    <div class="card">
      
      <div class="card-image">
        <img
          src= "{{ recipe.image }}"
        />
        <span class="card-title">{{ recipe.recipe_name }}</span>
      </div>
      <div class="card-content">
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Method:</strong> {{ recipe.method }}</p>
      </div>

      <div class="card-action">
        <a href="#">This is a link</a>
      </div>
      
    </div>
  </div>
</div>
{% endfor %}

{% endblock %}
