{% extends "base.html" %} {% block content %}

<title>Bohemian Mama | Recipes</title>

<h1 class="center-align">Seasonal Recipes</h1>

{% for recipe in recipes %}

<div class="row">
  <div class="col l2 m6 s12">
    <div class="card">
      <div class="card-image">
        <img src="{{ recipe.image }}" />
      </div>
      <div class="card-content">
        <p><strong>Season:</strong> {{ recipe.season_name }}</p>
        <p><strong>Recipe Name:</strong> {{ recipe.recipe_name }}</p>
        <p><strong>Cook / Prep:</strong> {{ recipe.cook_time }}</p>
        <p><strong>Serves:</strong> {{ recipe.serves }}</p>
        <p><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <p><strong>Method:</strong> {{ recipe.method }}</p>
        <p><strong>Created By:</strong> {{ recipe.created_by }}</p>
      </div>
      
    <div class="card-action">
       
        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small light-green lighetn-1">Edit</a>
        
    </div>
  
    </div>
  </div>
  {% endfor %} {% endblock %}
</div>
