{% extends "base.html" %}
{% block title %}View Recipe{% endblock %}
{% block content %}

<h1 class="center-align">Selected Recipes</h1>

<!-------Recipe Card------->



<div class="row">
    <div class="col l2 m6 s12">
        <div class="card">
            <div class="card-image">
                <img src="{{ recipe.image }}" />
            </div>
            <div class="card-content">
                <p><strong>Season:</strong> {{ recipe.season_name }}</p>
                <p><strong>Recipe Name:</strong> {{ recipe.recipe_name }}</p>
                <p><strong>Cook / Prep:</strong> {{ recipe.cook_time }}</p>
                <p><strong>Serves:</strong> {{ recipe.serves }}</p>
                <p><strong>Created By:</strong> {{ recipe.created_by }}</p>
                <p><strong>Date Posted:</strong> {{ recipe.posted }}</p>

            </div>
            
            <div class="card-action center-align">

                <a href="{{ url_for('recipe') }}">Return To All Recipes</a>

            </div>
            


        </div>
    </div>
    {% endblock %}
</div>